
.row::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
.col {
  float: left;
}
/* NOTE: row 1 */
.col-1 {
  width: 100%;
  padding: 20px 50px;
}
/* NOTE: row 2 */
.col-2 {
width: 33.33%;
}
.col-3 {
  width: 33.33%;
}
.col-4 {
  width: 33.33%;
}
