@media screen and (max-width: 800px) {
  .col {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .overlay h1 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 800px) {
   .overlay #subheading {
    font-size: 2.5vw;
  }
}

/* NOTE: Navigation */
@media screen and (max-width: 800px) {
   nav {
     display: none;
  }
}

@media screen and (max-width: 800px) {
   a.button {
  font-size: 1.1em;
  width: 8em;
  background-color: rgba(255, 255, 255, 0.5);

  }
}
@media screen and (max-width: 800px) {
   #box1 {
  font-size: 3vw;
  font-family: Montserrat, sans-serif;
  font-weight:100;

  }
}
